@model Instructor
@{
    ViewData["Title"] = "GetByID";
}

<h1>GetByID</h1>

<div class="card text-center">
    <div class="card-header">
        <h1>Instructor Data</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text">Department: @Model.Department.Name</p>
        <a asp-controller="instructor" asp-action="Index" class="btn btn-primary">Back to list</a>
    </div>
    <div class="card-footer text-body-secondary">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Salary: @Model.Salary</li>
            <li class="list-group-item">Age: @Model.Age</li>
            <li class="list-group-item">Email: @Model.Emai</li>
        </ul>
    </div>
</div>